
.icon-clock:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-location-1:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-mail-1:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-share:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-right-open-mini:before { content: '\e80e'; } /* '' */
.icon-eye-1:before { content: '\e80f'; } /* '' */
.icon-up-open-big:before { content: '\e810'; } /* '' */
.icon-left-open-mini:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-heart-empty-1:before { content: '\e814'; } /* '' */
.icon-down-open:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e816'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */